/* NAAAAAAAAAAAAAAAAAAAAAAAAAAAVVVVV* */
nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;

}


nav ul {

    list-style-type: none;
    margin-left: -10px;
    position: absolute;
    width: 100%;
    z-index: 1;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
nav ul li a {

    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #fcfeeb;
    border-top: 1px solid #e7ebec;
}

nav ul li a {
    background-color: #06ccd7;
     width: 100%;
    }

nav ul {
        display: none;
    }

/*prueba*/
nav ul.open {
    display: block;}
#hamburguerBtn span:nth-child(1) {
    display: block;
}

#hamburguerBtn span:nth-child(2) {
    display: none;
}

#hamburguerBtn.open span:nth-child(1) {
    display: none;
}

#hamburguerBtn.open span:nth-child(2) {
    display: block; }

#hamburguerBtn {
    color: #fcfeeb;

}



/*FINISH NAV*/

header, footer {
    background-color: #0a8796;
}

.header-container {
    display: flex;
}
body {
    background-color: #f1f4f5;
}

header, body, footer {
    padding: 10px;
 
}
footer {
    color: #f1f4f5;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

footer ul li a {
    text-decoration: none;
 
}
footer ul {
    list-style-type: none;
}
/*  IMAGENES*/
.logo img {
    width: 160px;
    margin-top: -50px;

}

/*SOCIAL MEDIAS*/
.social {
    display: flex;
    flex-direction: column ;
    margin-left: 150px;
    margin-top: 5px;
}


.podcast-home img, .classes-home img, .contact-home img, .faq-home img {

    width: 290px;

}


footer img {
    width: 50px;
}

/*FUENTES */
.presentation-home, h1, h3 {
    text-align: center;
}
h1, h2, h3{
    color: #0e5361;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

p, div ul {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;

}

 /*BUTTON*/
 .reserve-button a, .podcasts-button a, .classes-button a, .contact-button a, .faq-button-home a {
    text-decoration: none ;
    color: #fff;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    

 }
 .reserve-button , .podcasts-button, .classes-button ,.faq-button-home  { 
    background-color: #06ccd7;
    text-align: center;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 30px;
    padding-top: 15px;
 }

.contact-button {
    background-color: #06ccd7;
    text-align: center;
    height: 60px;
    padding-top: 2px;
    padding-bottom: 25px;
    margin-top: 15px;
    margin-bottom: 40px;


}
/*ANOTHER SIZEEEEE*/
@media only screen and (min-width: 20.5em) {

.social {
    margin-left: 100px;
}

}