/* Larger viewports */
@media only screen and (min-width: 55em) {

/*NAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAVVVVV*/

nav ul {
    display: flex;
    justify-content: center;
}
nav ul li a {
    border: none;
    border-right: 1px solid #fff;
    padding: .5rem 1rem;
}

nav button {
    display:none;
}
/*NAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAVVVVV*/


    .logo img {
        width: 250px;
       
    
    }




}